body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    height: 90vh;
}

a {
    text-decoration: none;
    color: black;
}